# Sending all kinds of file to Krename
[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles,inode/directory
ExcludeServiceTypes=kdedevice/*
Encoding=UTF-8
Actions=rename

[Desktop Action rename]
Exec=krename %U
Icon=krename
Name=Rename with KRename
Name[ar]=أعد التّسمية ب‍«مغيّر أسمائك»
Name[ast]=Renomar con KRename
Name[ca]=Reanomena amb el KRename
Name[ca@valencia]=Reanomena amb el KRename
Name[cs]=Přejmenovat s KRename
Name[de]=Mit KRename umbenennen
Name[en_GB]=Rename with KRename
Name[es]=Cambiar nombre con KRename
Name[hu]=Átnevezés KRename-mel
Name[it]=Rinomina con KRename
Name[nl]=Hernoemen met KRename
Name[pl]=Zmień nazwę z KRename
Name[pt]=Mudar o nome com o KRename
Name[sk]=Premenovať s KRename
Name[sl]=Preimenuj s KRename
Name[sv]=Byt namn med KRename
Name[tr]=KRename ile yeniden adlandır
Name[uk]=Перейменувати за допомогою KRename
Name[x-test]=xxRename with KRenamexx
Name[zh_CN]=使用 KRename 重命名
