# Sending all kinds of file to Krename
[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles,inode/directory
ExcludeServiceTypes=kdedevice/*
Encoding=UTF-8
Actions=rename

[Desktop Action rename]
Exec=krename %U
Icon=krename
Name=Rename with KRename
Name[nl]=Hernoemen met KRename
Name[pt]=Mudar o nome com o KRename
Name[sv]=Byt namn med KRename
Name[uk]=Перейменувати за допомогою KRename
Name[x-test]=xxRename with KRenamexx
