# Sending all kinds of files from a directory to Krename
[Desktop Entry]
Actions=Krename
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-ExcludeServiceTypes=kdedevice/*
X-KDE-Protocol=!file

[Desktop Action Rename]
Exec=krename %U
Name=Rename with KRename
Name[de]=Mit KRename umbenennen
Name[es]=Renombrar con KRename
Name[fr]=Renommer avec KRename 
Name[uk]=Перейменувати з KRename 
Icon=krename 

