# Sending all kinds of files recursively from a directory to Krename
[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
ExcludeServiceTypes=kdedevice/*
Encoding=UTF-8
Actions=rename

[Desktop Action rename]
Exec=krename -r %U
Icon=krename
Name=Rename with KRename (with subfolders)
Name[nl]=Hernoemen met KRename (met submappen)
Name[pt]=Mudar o nome com o KRename (com sub-pastas)
Name[sv]=Byt namn med KRename (med underkataloger)
Name[uk]=Перейменувати за допомогою KRename (із підтеками)
Name[x-test]=xxRename with KRename (with subfolders)xx
