[Desktop Entry]
Actions=Rename
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=inode/directory
X-KDE-ExcludeServiceTypes=kdedevice/*
X-KDE-Protocol=!file

[Desktop Action Rename]
Exec=krename -r %U
Name=Rename with KRename
Name[de]=Mit KRename umbenennen
Name[es]=Renombrar con KRename
Name[fr]=Renommer avec KRename 
Name[uk]=Перейменувати з KRename 
Icon=krename 

