[Desktop Entry]
Type=Application
Exec=krename -qwindowtitle "%c" %i %U
Icon=krename
X-DocPath=krename/index.html
Comment=A batch renamer
Comment[cs]=Nástroj na dávkové přejmenovávání
Comment[es]=Un cambiador de nombres por lotes
Comment[nl]=Een batch hulpmiddel voor hernoemen
Comment[pt]=Um utilitário de mudança de nomes de ficheiros em lote
Comment[sv]=Ett verktyg för filnamnsbyte
Comment[uk]=Засіб для пакетного перейменовування
Comment[x-test]=xxA batch renamerxx
Terminal=false
Name=KRename
Name[cs]=KRename
Name[es]=KRename
Name[nl]=KRename
Name[pt]=KRename
Name[sv]=KRename
Name[uk]=KRename
Name[x-test]=xxKRenamexx
Categories=Qt;KDE;Utility;
