[Desktop Entry]
Type=Application
Exec=krename -qwindowtitle "%c" %i %U
Icon=krename
X-DocPath=krename/index.html
Comment=A batch renamer
Comment[ar]=مُعيد تسمية لدفعة ملفّات
Comment[ast]=Un renomador per llotes
Comment[ca]=Un canviador de noms per lots
Comment[ca@valencia]=Un canviador de noms per lots
Comment[cs]=Nástroj na dávkové přejmenovávání
Comment[da]=En batchomdøber
Comment[de]=Mehrfachumbennungswerkzeug
Comment[el]=Μια εφαρμογή ομαδικής μετονομασίας
Comment[en_GB]=A batch renamer
Comment[es]=Un cambiador de nombres por lotes
Comment[fi]=Tiedostonimien muutos eräajona
Comment[hu]=Tömeges átnevezés
Comment[it]=Uno strumento di rinomina di massa
Comment[nl]=Een batch hulpmiddel voor hernoemen
Comment[pl]=Wsadowa zmiana nazwy
Comment[pt]=Um utilitário de mudança de nomes de ficheiros em lote
Comment[sk]=Dávkové premenovanie
Comment[sl]=Program za paketno preimenovanje
Comment[sv]=Ett verktyg för filnamnsbyte
Comment[tr]=Toplu yeniden adlandırıcı
Comment[uk]=Засіб для пакетного перейменовування
Comment[x-test]=xxA batch renamerxx
Comment[zh_CN]=批量重命名
Terminal=false
Name=KRename
Name[ar]=مغيّر أسمائك
Name[ast]=KRename
Name[ca]=KRename
Name[ca@valencia]=KRename
Name[cs]=KRename
Name[da]=KRename
Name[de]=KRename
Name[el]=KRename
Name[en_GB]=KRename
Name[es]=KRename
Name[fi]=KRename
Name[hu]=KRename
Name[it]=KRename
Name[nl]=KRename
Name[pl]=KRename
Name[pt]=KRename
Name[ru]=KRename
Name[sk]=KRename
Name[sl]=KRename
Name[sv]=KRename
Name[tr]=KRename
Name[uk]=KRename
Name[x-test]=xxKRenamexx
Name[zh_CN]=KRename
Categories=Qt;KDE;Utility;
