[Desktop Entry]
Type=Application
Exec=krename -qwindowtitle "%c" %i %U
Icon=krename
Comment=A batch renamer
Comment[ca]=Un canviador de noms de fitxers per lots
Comment[ca@valencia]=Un canviador de noms de fitxers per lots
Comment[cs]=Nástroj na dávkové přejmenovávání
Comment[da]=En batchomdøber
Comment[de]=Mehrfachumbennungswerkzeug
Comment[en_GB]=A batch renamer
Comment[es]=Cambiador de nombres por lotes
Comment[eu]=Sortaka berrizendatzeko tresna bat
Comment[fi]=Tiedostonimien muutos eräajona
Comment[fr]=Un outil de renommage par lot
Comment[gl]=Un cambiador de nome en lote.
Comment[ia]=Un renominator de typo batch
Comment[it]=Uno strumento di rinomina di massa
Comment[ko]=일괄 이름 바꾸기 도구
Comment[nl]=Een batch hulpmiddel voor hernoemen
Comment[nn]=Verktøy for endring av namn på fleire filer samtidig
Comment[pl]=Wsadowa zmiana nazwy
Comment[pt]=Um utilitário de mudança de nomes em lote
Comment[pt_BR]=Um renomeador em lote
Comment[ro]=Redenumire în serie
Comment[sk]=Dávkové premenovanie
Comment[sv]=Ett verktyg för filnamnsbyte
Comment[uk]=Засіб для пакетного перейменовування
Comment[x-test]=xxA batch renamerxx
Comment[zh_CN]=批量重命名工具
Terminal=false
Name=KRename
Name[ar]=مغيّر أسمائك
Name[ast]=KRename
Name[ca]=KRename
Name[ca@valencia]=KRename
Name[cs]=KRename
Name[da]=KRename
Name[de]=KRename
Name[el]=KRename
Name[en_GB]=KRename
Name[es]=KRename
Name[eu]=KRename
Name[fi]=KRename
Name[fr]=KRename
Name[gl]=KRename
Name[hu]=KRename
Name[ia]=Krename
Name[it]=KRename
Name[ko]=KRename
Name[nl]=KRename
Name[nn]=KRename
Name[pl]=KRename
Name[pt]=KRename
Name[pt_BR]=KRename
Name[ro]=KRename
Name[ru]=KRename
Name[sk]=KRename
Name[sl]=KRename
Name[sv]=KRename
Name[tr]=KRename
Name[uk]=KRename
Name[x-test]=xxKRenamexx
Name[zh_CN]=KRename
Name[zh_TW]=KRename
Categories=Qt;KDE;Utility;
